h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.form {
  margin: 0 auto;
  top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  transition: 600ms;
}

.cards {
  margin: 0 auto;
  /*margin-top: 32px;*/
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  max-width: 360px;
  height: 200px;
  border: 1px solid #808080;;
}

.card-img {
  width: 360px;
  height: 152px;
  object-fit: cover;
}

/*.card-link {
  height: 152px;
}*/

.card-data {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 8px;

}

.card-link {
  display: flex;
}

.data-wrap {
  gap: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-wrap > p {
  font-weight: 600;
}

.search-field {
  width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
    color: #808080;
    box-sizing: border-box;
    padding-left: 16px;

}

.search-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color:#fff;
  width: 90px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4E75FF;
  border: none;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/*.bottom-loader {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 999;
    margin: 10px auto;
    width: 110px;
    height: 40px;
    justify-content: center;
    align-items: center;
}*/

/*.bottom-loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  background: linear-gradient(0deg, rgba(0, 4, 255, 0.2) 33%, #4E75FF 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: 10px auto;
  justify-content: center;
  align-items: center;

  display: none;
}

.bottom-loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: white;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}*/

/*.bottom-loader {
  width: 48px;
  height: 48px;
  display: none;
  position: relative;

  margin: 10px auto;
}

.bottom-loader::after,
.bottom-loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #4E75FF;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}

.bottom-loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}*/

.bottom-loader {
  width: 48px;
  height: 48px;
  background: rgb(79, 46, 232);
  display: none;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;

  margin: 10px auto;

  /*top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /*зпозиціонуй де потрібен лоадер*/
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.load-more-btn {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #4E75FF;
    border: none;
}

section {
  padding-top: 50px;
}

.scroll-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;

  width: 54px;
  height: 54px;
  border-radius: 50%;
background-color: rgb(79, 46, 232);
box-sizing: border-box;
}


  .scroll-btn::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 10px solid rgba(79, 46, 232, 0.3);
    border-radius: 50%;
  }